---
layout: default
title: home
---
<div class="content-container">
    <!-- Category Navigation -->
    <nav class="category-nav">
        {% assign sorted_categories = site.categories | sort %}
        {% for category in sorted_categories %}
        <a class="category-nav__item" href="{{ '/categories/' | prepend: site.baseurl }}#{{ category[0] }}-ref">
            {{ category[0] }}
            <span class="category-nav__count">{{ category[1].size }}</span>
        </a>
        {% endfor %}
    </nav>

    <!-- Post List -->
    <div class="post-list">
        {% for post in site.posts %}
            {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
            {% capture prev_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

            {% if forloop.first or this_year != prev_year %}
                {% unless forloop.first %}{% endunless %}
                <div class="post-list__year" id="year_{{ this_year }}">{{ this_year }}</div>
            {% endif %}

            <div class="post-item">
                <span class="post-item__date">{{ post.date | date: "%m-%d" }}</span>
                <span class="post-item__title">
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </span>
                {% if post.categories and post.categories.size > 0 %}
                <span class="post-item__category">{{ post.categories | first }}</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
